*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}
.hero{
    margin-left: 1700px;
    margin-top: 1600px;
    height: 3000px
    ;
    width: 4000px;
    min-height:100vh;
    background:url(images/Layer\ 1b.png);
    background-position: center;
    background-size: cover;
    padding:10px 10%;
    overflow:hidden

}